/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: linear-gradient(to left, #2055d5 0%, #0c1f7d 100%);
}

header {
  height: 42rem;
  color: #e8eaed;
  background-image: url(../../img/neuheader.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section .invest {
  background-color: #DCDAD6;
  text-align: center;
}
section .invest .inves-top p {
  box-sizing: border-box;
  margin: 0rem 1rem;
  color: #453f3f;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem;
}
section .invest .invest-bottom {
  display: flex;
}
section .invest .invest-bottom .invest-bottom-right {
  width: 65%;
}
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-top,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-center,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-bottom {
  width: 33rem;
  text-align: left;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: #989494;
  margin: 1rem 0rem;
}
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-top i,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-center i,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-bottom i {
  margin: 0.5rem 0rem;
}
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-top h1,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-center h1,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-bottom h1 {
  margin: 0.5rem 0rem;
  font-weight: 600;
  color: #fcfbfb;
}
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-top p,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-center p,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-bottom p {
  text-decoration: none;
  color: #575050;
}
section .invest .invest-bottom .invest-bottom-left {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .invest .invest-bottom .invest-bottom-left img {
  width: 100%;
  border: none;
}
section .crypto {
  display: flex;
  text-align: center;
  background-color: #151D3B;
}
section .crypto .crypto-left {
  width: 41%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .crypto .crypto-left img {
  width: 36rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem auto;
}
section .crypto .crypto-right {
  width: 33rem;
  text-align: left;
  box-sizing: border-box;
  padding: 1rem;
}
section .crypto .crypto-right .crypto-right-top {
  margin: 3.5rem 0rem 0.5rem;
}
section .crypto .crypto-right .crypto-right-top p {
  color: #e8e4e4;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7rem;
}
section .crypto .crypto-right .crypto-right-top p span {
  width: 20rem;
  color: #761da9;
}
section .crypto .crypto-right .crypto-right-top h2 {
  margin: 2rem 0rem 6rem;
  color: #e8e4e4;
}
section .crypto .crypto-right .crypto-right-top h2 span {
  font-weight: 600;
  color: #761da9;
}
section .crypto .crypto-right .crypto-right-bottom {
  display: flex;
}
section .crypto .crypto-right .crypto-right-bottom .crypto-numbers-top span,
section .crypto .crypto-right .crypto-right-bottom .crypto-numbers-center span,
section .crypto .crypto-right .crypto-right-bottom .crypto-numbers-bottom span {
  color: #761da9;
  font-size: 2rem;
  font-weight: 600;
}
section .crypto .crypto-right .crypto-right-bottom .crypto-numbers-top h3,
section .crypto .crypto-right .crypto-right-bottom .crypto-numbers-center h3,
section .crypto .crypto-right .crypto-right-bottom .crypto-numbers-bottom h3 {
  margin-top: 0.7rem;
  color: #872fba;
  font-size: 0.8rem;
}
section .crypto .crypto-right .crypto-right-bottom .crypto-numbers-center {
  margin: auto 2.5rem;
}
section .join-crypto {
  display: flex;
  justify-content: space-between;
}
section .join-crypto .join-crypto-left {
  background-color: #DCDAD6;
  width: 74%;
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .join-crypto .join-crypto-left .join-crypto-left-center {
  max-width: 33rem;
  margin: 0rem 1rem 0rem 0rem;
}
section .join-crypto .join-crypto-left .join-crypto-left-center h1 {
  margin: 0rem 0rem 1.5rem;
  font-weight: 600;
  font-size: 1.7rem;
  color: #565e63;
}
section .join-crypto .join-crypto-left .join-crypto-left-center p {
  line-height: 1.3rem;
  color: #565e63;
  font-size: 0.92rem;
  margin: 0rem 0rem 1.5rem;
}
section .join-crypto .join-crypto-left .join-crypto-left-center button {
  padding: 0.9rem 2rem;
  border-radius: 2.1rem;
  border: none;
  font-size: 0.7rem;
  font-weight: 600;
  color: white;
  background-color: #6923af;
  box-shadow: 0px 0px 9px 3px gray;
  cursor: pointer;
}
section .join-crypto .join-crypto-right {
  background-image: url(../../img/Neu.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 37rem;
}
section .join-crypto span{
  color: #761da9;
}
section .faq {
  display: flex;
  justify-content: center;
  background-color: #CAC9C7;
  padding: 1rem 0rem;
}
section .faq .faq-center {
  margin: 3rem 0rem 0rem;
}
section .faq .faq-center .faq-center-top {
  text-align: center;
  margin: 0rem 0rem 0.7rem;
}
section .faq .faq-center .faq-center-top h1 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #2b9c8c;
}
section .faq .faq-center .faq-center-top p {
  font-size: 1.2rem;
  margin: 0.5rem 0rem 0rem;
  font-weight: 600;
  color: #575050;
  line-height: 1.4rem;
}
section .faq .faq-center .faq-center-top p span {
  color: #761da9;
}
section .faq .faq-slide-1,
section .faq .faq-slide-2,
section .faq .faq-slide-3,
section .faq .faq-slide-4,
section .faq .faq-slide-5 {
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
  border-radius: 1.6rem;
  background-color: #b9b6b6;
  justify-content: center;
  margin: 0rem 0rem 0.4rem;
  width: 39rem;
}
section .faq .faq-slide-1 .faq-slide-1-top,
section .faq .faq-slide-1 .faq-slide-2-top,
section .faq .faq-slide-1 .faq-slide-3-top,
section .faq .faq-slide-1 .faq-slide-4-top,
section .faq .faq-slide-1 .faq-slide-5-top,
section .faq .faq-slide-2 .faq-slide-1-top,
section .faq .faq-slide-2 .faq-slide-2-top,
section .faq .faq-slide-2 .faq-slide-3-top,
section .faq .faq-slide-2 .faq-slide-4-top,
section .faq .faq-slide-2 .faq-slide-5-top,
section .faq .faq-slide-3 .faq-slide-1-top,
section .faq .faq-slide-3 .faq-slide-2-top,
section .faq .faq-slide-3 .faq-slide-3-top,
section .faq .faq-slide-3 .faq-slide-4-top,
section .faq .faq-slide-3 .faq-slide-5-top,
section .faq .faq-slide-4 .faq-slide-1-top,
section .faq .faq-slide-4 .faq-slide-2-top,
section .faq .faq-slide-4 .faq-slide-3-top,
section .faq .faq-slide-4 .faq-slide-4-top,
section .faq .faq-slide-4 .faq-slide-5-top,
section .faq .faq-slide-5 .faq-slide-1-top,
section .faq .faq-slide-5 .faq-slide-2-top,
section .faq .faq-slide-5 .faq-slide-3-top,
section .faq .faq-slide-5 .faq-slide-4-top,
section .faq .faq-slide-5 .faq-slide-5-top {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
section .faq .faq-slide-1 .faq-slide-1-top i,
section .faq .faq-slide-1 .faq-slide-2-top i,
section .faq .faq-slide-1 .faq-slide-3-top i,
section .faq .faq-slide-1 .faq-slide-4-top i,
section .faq .faq-slide-1 .faq-slide-5-top i,
section .faq .faq-slide-2 .faq-slide-1-top i,
section .faq .faq-slide-2 .faq-slide-2-top i,
section .faq .faq-slide-2 .faq-slide-3-top i,
section .faq .faq-slide-2 .faq-slide-4-top i,
section .faq .faq-slide-2 .faq-slide-5-top i,
section .faq .faq-slide-3 .faq-slide-1-top i,
section .faq .faq-slide-3 .faq-slide-2-top i,
section .faq .faq-slide-3 .faq-slide-3-top i,
section .faq .faq-slide-3 .faq-slide-4-top i,
section .faq .faq-slide-3 .faq-slide-5-top i,
section .faq .faq-slide-4 .faq-slide-1-top i,
section .faq .faq-slide-4 .faq-slide-2-top i,
section .faq .faq-slide-4 .faq-slide-3-top i,
section .faq .faq-slide-4 .faq-slide-4-top i,
section .faq .faq-slide-4 .faq-slide-5-top i,
section .faq .faq-slide-5 .faq-slide-1-top i,
section .faq .faq-slide-5 .faq-slide-2-top i,
section .faq .faq-slide-5 .faq-slide-3-top i,
section .faq .faq-slide-5 .faq-slide-4-top i,
section .faq .faq-slide-5 .faq-slide-5-top i {
  margin-right: 1rem;
  cursor: pointer;
}
section .faq .faq-slide-1 .faq-slide-1-top p,
section .faq .faq-slide-1 .faq-slide-2-top p,
section .faq .faq-slide-1 .faq-slide-3-top p,
section .faq .faq-slide-1 .faq-slide-4-top p,
section .faq .faq-slide-1 .faq-slide-5-top p,
section .faq .faq-slide-2 .faq-slide-1-top p,
section .faq .faq-slide-2 .faq-slide-2-top p,
section .faq .faq-slide-2 .faq-slide-3-top p,
section .faq .faq-slide-2 .faq-slide-4-top p,
section .faq .faq-slide-2 .faq-slide-5-top p,
section .faq .faq-slide-3 .faq-slide-1-top p,
section .faq .faq-slide-3 .faq-slide-2-top p,
section .faq .faq-slide-3 .faq-slide-3-top p,
section .faq .faq-slide-3 .faq-slide-4-top p,
section .faq .faq-slide-3 .faq-slide-5-top p,
section .faq .faq-slide-4 .faq-slide-1-top p,
section .faq .faq-slide-4 .faq-slide-2-top p,
section .faq .faq-slide-4 .faq-slide-3-top p,
section .faq .faq-slide-4 .faq-slide-4-top p,
section .faq .faq-slide-4 .faq-slide-5-top p,
section .faq .faq-slide-5 .faq-slide-1-top p,
section .faq .faq-slide-5 .faq-slide-2-top p,
section .faq .faq-slide-5 .faq-slide-3-top p,
section .faq .faq-slide-5 .faq-slide-4-top p,
section .faq .faq-slide-5 .faq-slide-5-top p {
  color: #575050;
  font-size: 1.1rem;
  font-weight: 600;
}
section .faq .faq-slide-1 .faq-slide-1-bottom p,
section .faq .faq-slide-1 .faq-slide-2-bottom p,
section .faq .faq-slide-1 .faq-slide-3-bottom p,
section .faq .faq-slide-1 .faq-slide-4-bottom p,
section .faq .faq-slide-1 .faq-slide-5-bottom p,
section .faq .faq-slide-2 .faq-slide-1-bottom p,
section .faq .faq-slide-2 .faq-slide-2-bottom p,
section .faq .faq-slide-2 .faq-slide-3-bottom p,
section .faq .faq-slide-2 .faq-slide-4-bottom p,
section .faq .faq-slide-2 .faq-slide-5-bottom p,
section .faq .faq-slide-3 .faq-slide-1-bottom p,
section .faq .faq-slide-3 .faq-slide-2-bottom p,
section .faq .faq-slide-3 .faq-slide-3-bottom p,
section .faq .faq-slide-3 .faq-slide-4-bottom p,
section .faq .faq-slide-3 .faq-slide-5-bottom p,
section .faq .faq-slide-4 .faq-slide-1-bottom p,
section .faq .faq-slide-4 .faq-slide-2-bottom p,
section .faq .faq-slide-4 .faq-slide-3-bottom p,
section .faq .faq-slide-4 .faq-slide-4-bottom p,
section .faq .faq-slide-4 .faq-slide-5-bottom p,
section .faq .faq-slide-5 .faq-slide-1-bottom p,
section .faq .faq-slide-5 .faq-slide-2-bottom p,
section .faq .faq-slide-5 .faq-slide-3-bottom p,
section .faq .faq-slide-5 .faq-slide-4-bottom p,
section .faq .faq-slide-5 .faq-slide-5-bottom p {
  color: #575050;
  font-size: 0.9rem;
  text-align: center;
  padding: 0rem 0.5rem;
}
section .display1 {
  display: none;
}

footer {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  background-color: #151D3B;
  border: none;
}
footer img {
  width: 3rem;
  max-width: 33.33%;
  border: none;
}
footer h3 {
  display: flex;
  align-items: center;
  color: #e8e4e4;
  font-weight: 600;
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  section .invest .invest-bottom {
    margin: 0rem 0.5rem;
  }
  section .invest .invest-bottom .invest-bottom-right {
    margin-left: 0.5rem;
  }
  section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-top,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-center,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-bottom {
    width: 33rem;
  }
}
@media (max-width: 992px) {
  section .invest .invest-bottom {
    margin: 0rem 0.5rem;
  }
  section .invest .invest-bottom .invest-bottom-right {
    margin-left: 0.5rem;
  }
  section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-top,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-center,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-bottom {
    width: 22rem;
  }
  section .crypto .crypto-left {
    margin-left: 0.5rem;
  }
  section .join-crypto .join-crypto-left .join-crypto-left-center {
    margin: 0rem 0.5rem;
  }

  footer img {
    margin: 0.4rem 0rem;
  }
}
@media (max-width: 768px) {
  section .invest .invest-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .invest .invest-bottom .invest-bottom-left {
    width: 100%;
  }
  section .invest .invest-bottom .invest-bottom-left img {
    margin: 0.5rem auto;
  }
  section .invest .invest-bottom .invest-bottom-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-top,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-center,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-bottom {
    width: 15rem;
    line-height: 1.2rem;
    height: 11rem;
    align-items: center;
    text-align: center;
  }
  section .crypto {
    flex-direction: column;
  }
  section .crypto .crypto-left {
    width: 100%;
    margin: auto;
  }
  section .crypto .crypto-right {
    width: 100%;
    text-align: center;
  }
  section .crypto .crypto-right .crypto-right-top {
    margin: 0.5rem 0.5rem 0.5rem;
    text-align: justify;
  }
  section .join-crypto .join-crypto-left {
    width: 100%;
    text-align: justify;
    height: 20rem;
  }
  section .join-crypto .join-crypto-left .join-crypto-left-center {
    max-width: none;
    margin: 0rem 0.5rem;
  }
  section .join-crypto .join-crypto-right {
    display: none;
  }
  section .faq .faq-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .faq .faq-center .faq-slide-1,
section .faq .faq-center .faq-slide-2,
section .faq .faq-center .faq-slide-3,
section .faq .faq-center .faq-slide-4,
section .faq .faq-center .faq-slide-5 {
    width: 23rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
  footer img {
    margin: 0.4rem 0rem;
  }
  footer ul {
    margin: 0.4rem 0rem;
  }
  footer h3 {
    margin: 0.4rem 0rem;
  }
}
@media (max-width: 480px) {
  section .invest .invest-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .invest .invest-bottom .invest-bottom-left {
    width: 100%;
  }
  section .invest .invest-bottom .invest-bottom-left img {
    margin: 0.5rem auto;
  }
  section .invest .invest-bottom .invest-bottom-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-top,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-center,
section .invest .invest-bottom .invest-bottom-right .invest-bottom-right-bottom {
    width: 15rem;
    line-height: 1.2rem;
    height: 11rem;
    align-items: center;
    text-align: center;
  }
  section .crypto {
    flex-direction: column;
  }
  section .crypto .crypto-left {
    width: 100%;
    margin: auto;
  }
  section .crypto .crypto-right {
    width: 100%;
    text-align: center;
  }
  section .crypto .crypto-right .crypto-right-top {
    margin: 0.5rem 0.5rem 0.5rem;
    text-align: justify;
  }
  section .join-crypto .join-crypto-left {
    width: 100%;
    text-align: justify;
    height: 20rem;
  }
  section .join-crypto .join-crypto-left .join-crypto-left-center {
    max-width: none;
    margin: 0rem 0.5rem;
  }
  section .join-crypto .join-crypto-right {
    display: none;
  }
  section .faq .faq-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .faq .faq-center .faq-slide-1,
section .faq .faq-center .faq-slide-2,
section .faq .faq-center .faq-slide-3,
section .faq .faq-center .faq-slide-4,
section .faq .faq-center .faq-slide-5 {
    width: 17rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
  footer img {
    margin: 0.4rem 0rem;
  }
  footer ul {
    margin: 0.4rem 0rem;
  }
  footer h3 {
    margin: 0.4rem 0rem;
  }
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

hr {
  margin-top: 30px;
}

img {
  border: 1px solid #5f6368;
}

/* .search-container START */
.search-container {
  max-width: 560px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15rem;
}

.search-container input {
  display: flex;
  flex-grow: 1;
}

.search-container button:hover {
  border: 1px solid #5f6368;
  cursor: pointer;
}

.search-container h1 {
  font-size: 70px;
  margin: 0rem 0rem 1.5rem;
}

/* .search-container END */
/* .small-search-container START */
.small-search-container {
  margin: 2%;
}

.small-search-container input {
  width: 600px;
}

.small-search-container h1, a {
  display: inline;
  color: inherit;
  text-decoration: none;
}

/* .small-search-container END */
/*
    .search-container,
    .small-search-container
    START
*/
.search-container input,
.small-search-container input {
  color: inherit;
  background-color: inherit;
  color: #44494a;
  background-color: #e7e1e1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #5f6368;
  border-radius: 25px;
}

.search-container input:hover,
.small-search-container input:hover {
  background-color: #cac4c4;
  border-color: #b1adad;
}

.search-container input:focus,
.small-search-container input:focus {
  outline: none;
}

/*
    .search-container,
    .small-search-container
    END

*/
/* .search-button-wrapper START */
.search-button-wrapper {
  display: flex;
  flex-direction: column;
}

.search-button-wrapper button {
  color: inherit;
  background-color: #789395;
  font-size: 14px;
  border: none;
  border-radius: 0.7rem;
  width: auto;
  padding: 13px 10px 13px 10px;
  margin-top: 30px;
}

/* .search-button-wrapper END */
/* .info-container START */
.info-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #171717;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #303134;
}

.info-container a, p {
  color: #999da2;
  text-decoration: none;
}

.info-container a {
  padding-left: 20px;
  font-size: 16px;
}

.info-container #right {
  float: right;
  padding-right: 20px;
}

.info-container a:hover {
  text-decoration: underline;
}

/* .info-container END */
/* .result-container START */
.result-container {
  max-width: 550px;
  margin-top: 30px;
}

.result-container span {
  font-size: 15px;
}

.result-container a {
  font-size: 14px;
  color: #bdc1c6;
  text-decoration: none;
}

.result-container h2 {
  font-size: 20px;
  color: #8ab4f8;
  padding-top: 5px;
  margin-top: 1px;
}

.result-container h2:hover {
  text-decoration: underline;
}

.results-wrapper {
  height: 105vh;
}

/* .result-container END */
/* .image-result-container START */
.image-result-container {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 30px;
}

/* .image-result-container END */
/* .page-container START */
.page-container {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 15%;
}

.page-container #page {
  display: inline;
}

.page-container #page button {
  color: #8ab4f8;
  background-color: inherit;
  padding-right: 10px;
  font-size: 16px;
  border: none;
}

.page-container #page button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .page-container END */
/* .result-change START */
.result-change {
  width: 100%;
}

.result-change button {
  color: #bd93f9;
  background-color: inherit;
  display: inline;
  border: none;
  margin-right: 20px;
  font-size: 18px;
}

.result-change button:hover {
  cursor: pointer;
}

.result-change #change-image {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border: none;
}

/* .result-change END */
/* .donate-container START */
.donate-container {
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 13%;
  border: 1px solid #bdc1c6;
  border-top: none;
  border-bottom: none;
  text-align: center;
}

.donate-container a {
  color: #8ab4f8;
  text-decoration: underline;
}

/* .donate-container END */
.result-container,
#time,
#special-result {
  margin-left: 10%;
}

#special-result {
  padding: 10px;
  border: 1px solid #bdc1c6;
  width: 500px;
}

#logo {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border: none;
}

/* @media START */
@media only screen and (min-width: 900px) {
  .search-button-wrapper {
    flex-direction: row;
  }

  .search-button-wrapper button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .search-container input {
    width: auto;
  }

  .small-search-container input {
    margin-left: 40px;
  }

  hr {
    margin-bottom: -20px;
  }

  .result-change {
    margin-left: 9%;
  }

  .donate-container {
    margin-left: 25%;
    margin-right: 25%;
  }

  img {
    margin: 10px;
  }

  #time {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 900px) {
  .info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info-container a {
    margin-top: 10px;
  }

  .small-search-container input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
  }

  .small-search-container a {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .result-change {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  #special-result {
    width: 80%;
  }

  .result-container {
    width: 80%;
  }
}

.typing {
  background: #3494E6;
  background: -webkit-radial-gradient(circle farthest-corner at left center, #3494E6 0%, #EC6EAD 100%);
  background: -moz-radial-gradient(circle farthest-corner at left center, #3494E6 0%, #EC6EAD 100%);
  background: radial-gradient(circle farthest-corner at left center, #3494E6 0%, #EC6EAD 100%);
    background-clip: border-box;
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* @media END */

/*# sourceMappingURL=main.css.map */
