body{
    
    background-image: linear-gradient(to left, #2055d5 0%, #0c1f7d 100%);
}
header{
    
    height: 42rem;
    color: #e8eaed;
    
    background-image:url(/img/neuheader.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
// section
section{
    // invest
    .invest{
        background-color: #DCDAD6;
        text-align: center;
        .inves-top{
            p{
                box-sizing: border-box;
                margin: 0rem 1rem;
                color: #453f3f;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 1.2rem;
            }
        }
        .invest-bottom{
            display: flex;
            .invest-bottom-right{
                width: 65%;
                .invest-bottom-right-top ,
                .invest-bottom-right-center,
                .invest-bottom-right-bottom
                {
                    width: 33rem;
                    text-align: left;
                    height: 6rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: baseline;
                    padding: 1rem;
                    border-radius: 1rem;
                    color: white;
                    background-color: #989494;
                    margin: 1rem 0rem;
                    i{
                        margin: .5rem 0rem;
                    }
                    h1{
                        margin: .5rem 0rem;
                        font-weight: 600;
                        color: #fcfbfb;
                    }
                    p{
                        text-decoration: none;
                         color: #575050;
                    }
                }
            }
            .invest-bottom-left{
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    border: none;
                }
            }
            
        }
    }

    // crypto

    .crypto{
        display: flex;
        text-align: center;
        background-color: #151D3B;
        .crypto-left{
            width: 41%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 17rem;
                border-radius: 1rem;
                border: none;
                margin: 1rem auto;
            }
        }
        .crypto-right{
            width: 33rem;
            text-align: left;
            box-sizing: border-box;
            padding: 1rem;
            .crypto-right-top{
                margin: 3.5rem 0rem .5rem;
                p{
                    color: #e8e4e4;
                    font-size: 1.2rem;
                    font-weight: 600;
                    line-height: 1.7rem;
                    span{
                        width: 20rem;
                        color: #761da9;
                    }
                }
                h2{
                    margin: 2rem 0rem 6rem;
                    color: #e8e4e4;
                    span{
                        font-weight: 600;
                        color: #761da9;
                    }
                }
            }
            .crypto-right-bottom{
                display: flex;
                .crypto-numbers-top,
                .crypto-numbers-center,
                .crypto-numbers-bottom{
                    span{
                        color: #761da9;
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    h3{
                        margin-top: .7rem;
                        color: #872fba;
                        font-size: .8rem;
                    }
                }
                .crypto-numbers-center{
                    margin: auto 2.5rem;
                }
            }
     }  }

// join-crypto
.join-crypto{
    display: flex;
    justify-content: space-between;
    .join-crypto-left{
        background-color: #DCDAD6;
        width: 74%;
        height: 34rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .join-crypto-left-center{
            max-width: 33rem;
            margin: 0rem 1rem 0rem 0rem;
            h1{
                margin: 0rem 0rem 1.5rem;
                font-weight: 600;
                font-size: 1.7rem;
                color: #565e63;
            }
            p{
                line-height: 1.3rem;
                color: #565e63;
                font-size: 0.92rem;
                margin: 0rem 0rem 1.5rem;
            }
            button{
                padding: .9rem 2rem;
                border-radius: 2.1rem;
                border: none;
                font-size: .7rem;
                font-weight: 600;
                color: white;
                background-color: #6923af;
                box-shadow: 0px 0px 9px 3px gray;
                cursor: pointer;
            }
        }
    }
    .join-crypto-right{
        background-image: url(../../img/Neu.png);
        background-size: auto;
        background-repeat: no-repeat;
        width: 37rem;
    }
}


// faq

.faq{
    display: flex;
    justify-content: center;
    background-color: #CAC9C7;
    padding: 1rem 0rem;
   .faq-center{
    margin: 3rem 0rem 0rem;
       .faq-center-top{
        text-align: center;
        margin: 0rem 0rem .7rem;
        h1{
            font-size: .8rem;
            font-weight: 600;
            color: #2b9c8c;
        }
        p{
            font-size: 1.2rem;
            margin: .5rem 0rem 0rem;
            font-weight: 600;
            color: #575050;
            line-height: 1.4rem;
            span{
                color: #761da9;
            }
        }
       }
   } 
   .faq-slide-1,
   .faq-slide-2,
   .faq-slide-3,
   .faq-slide-4,
   .faq-slide-5{
            display: flex;
            flex-direction: column;
            padding: 1.1rem;
            border-radius: 1.6rem;
            background-color: #b9b6b6;
            justify-content: center;
            margin: 0rem 0rem .4rem;
            width: 39rem;
            .faq-slide-1-top,
            .faq-slide-2-top,
            .faq-slide-3-top,
            .faq-slide-4-top,
            .faq-slide-5-top{
                    display: flex;
                    justify-content: center;
                    padding: .5rem;
                    i{
                        margin-right: 1rem;
                        cursor: pointer;
                    }
                    p{
                        color: #575050;
                        font-size: 1.1rem;
                        font-weight: 600;
                    }
            }
            .faq-slide-1-bottom,
            .faq-slide-2-bottom,
            .faq-slide-3-bottom,
            .faq-slide-4-bottom,
            .faq-slide-5-bottom{
                
                p{
                    color: #575050;
                    font-size: .9rem;
                    text-align: center;
                    padding: 0rem.5rem;
                }
            }

   }
}
.display1{
    display: none;
}

}

// footer
footer{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    background-color: #151D3B;
    border: none;
    img{
        width: 3rem;
        max-width: 33.33%;
        border: none
    }
    h3{
        display: flex;
        align-items: center;
        color: #e8e4e4;
        font-weight: 600;
        font-size: 0.9rem;
    }
}